{% extends "base.html" %}

{% block title %}首页{% endblock %}

{% block content %}
    <div class="container">
        {% for article in articles %}
            <div class="text-card">
                <div class="post-title">
                    <h3><a href="/article/{{ article['id'] }}">{{ article['title'] }}</a></h3>
                </div>
                <div class="post-time">
                    <p>
                        <b>发布时间:&nbsp;</b>
                        <span>{{ article['create_time'] | formatdatetime }}</span>
                    </p>
                </div>
                <div class="post-intro">
                    <p class="line-limit-length">{{ article['content'] }}</p>
                </div>
            </div>
        {% endfor %}
        {{ pagination.links }}
    </div>
{% endblock %}

