<html>
<head><title>hello</title>
<script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
<script type="text/javascript">
  $(function() {
    $('#btn').bind('click', function() {
      $.getJSON('/handle/', {
        id: $('#id').val()
      }, function(data) {
        $('#result').text(data.result);
      });
      return false;
    });
  });
</script>
</head>
<body>
<h1>提交id</h1>
<input type="text" id="id" name="id" /></br>
<span id="result"></span>
<button id="btn">提交</button>
</body>
</html>
