<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
	<title>{{ blog_name }}</title>
	<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.jpg') }}">
	<link rel="stylesheet" href="static/bootstrap-3.3.5/dist/css/bootstrap.css" />
	<link rel="stylesheet" href="static/css/style.css" />
	<script src="static/bootstrap-3.3.5/dist/js/jquery-1.11.3.js"></script>
	<script src="static/bootstrap-3.3.5/dist/js/bootstrap.js"></script>
</head>
<body>
    <div class="navbar navbar-static-top navbar-gjl">
	    <div class="container">
		    <div class="logo">{{ logo_name }}</div>
	    </div>
	</div>
	<div class="content">
	    <div class="container">
	        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
		<div class="text-card">
			<div class="post-title"><h2>赤壁赋</h2></div>
			<div class="post-time">
			    <p>
			    <h5><b>发布时间：</b></h5>
			    <ban>2015-12-12</ban>
			    </p>
			</div>
			<div class="post-intro">
			    <p>赤壁赋的内容</p>
			</div>
		</div>
	    <div class="text-card">
			<div class="post-title"><h1>赤壁赋</h1></div>
			<div class="post-time"><h3>发布时间：</h3><p>2015-12-12</p></div>
			<div class="post-intro"><p>赤壁赋的内容</p></div>
		</div>
	    <div class="text-card">
			<div class="post-title"><h1>赤壁赋</h1></div>
			<div class="post-time"><h3>发布时间：</h3><p>2015-12-12</p></div>
			<div class="post-intro"><p>赤壁赋的内容</p></div>
		</div>
		<div class="text-card">
			<div class="post-title"><h1>赤壁赋</h1></div>
			<div class="post-time"><h3>发布时间：</h3><p>2015-12-12</p></div>
			<div class="post-intro"><p>赤壁赋的内容</p></div>
		</div>
		<div class="text-card">
			<div class="post-title"><h1>赤壁赋</h1></div>
			<div class="post-time"><h3>发布时间：</h3><p>2015-12-12</p></div>
			<div class="post-intro"><p>赤壁赋的内容</p></div>
		</div>
		<div class="text-card">
			<div class="post-title"><h1>赤壁赋</h1></div>
			<div class="post-time"><h3>发布时间：</h3><p>2015-12-12</p></div>
			<div class="post-intro"><p>赤壁赋的内容</p></div>
		</div>
		<div>
			<ul class="pagination-me">
			  <li>
			    <a href="#" aria-label="Pre">
			      <span aria-hidden="true">上一页</span>
			    </a>
			  </li>
			  <li><a href="#">1</a></li> 
			  <li><a href="#">2</a></li>
			  <li><a href="#">3</a></li>
			  <li><a href="#">4</a></li> 
			  <li><a href="#">5</a></li>
			  <li>
			    <a href="#" aria-label="Next">
			      <span aria-hidden="true">下一页</span>
			    </a>
			  </li>
			</ul>
		</div>
	  </div>
	</div>
	<div class="foot">
		<div></div>
	</div>
</body>
</html>